@import url('../index.css');

.rock {
    background-image: url('../images/icon-rock.svg');
    border-color: hsl(349, 70%, 56%);
}

.clickable.rock {
    grid-area: 3 / 3 / 3 / 3;
    position: relative;
    right: 3rem;
}

.paper {
    background-image: url('../images/icon-paper.svg');
    border-color: hsl(230, 89%, 65%);
}

.clickable.paper {
    grid-area: 2 / 3 / 2 / 3;
    position: relative;
    bottom: 2rem;
}

.scissors {
    background-image: url('../images/icon-scissors.svg');
    border-color: hsl(40, 84%, 53%);
}

.clickable.scissors {
    grid-area: 1 / 2 / 1 / 2;
    position: relative;
}

.lizard {
    background-image: url('../images/icon-lizard.svg');
    border-color: hsl(261, 72%, 63%);
}

.clickable.lizard {
    grid-area: 3 / 1 / 3 / 1;
    position: relative;
    left: 3rem;
}

.spock {
    background-image: url('../images/icon-spock.svg');
    border-color: hsl(189, 58%, 57%);
}

.clickable.spock {
    grid-area: 2 / 1 / 2 / 1;
    position: relative;
    bottom: 2rem;
}

.clickable {
    cursor: pointer;
}

.gamechoice {
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4rem;
    border-style: solid;
    border-width: 15px;
    border-radius: 100px;
    box-shadow: inset 0 0.5rem rgba(170, 189, 212, 0.5); /*0 0.5rem rgba(94, 95, 97, 0.5);*/
    background-color: white;
    justify-self: center;
    align-self: center;
    z-index: 10;
}

.choices {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-content: center;
    place-self: center;
}

main[displaybg='true'] {
    background-image: url('../images/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.choices[hidden] {
    display: none;
}

@media (max-width: 520px) {
    .gamechoice {
        padding: 2.5rem;
        border-width: 10px;
        background-size: 50%;
    }

    .clickable.rock {
        top: 2rem;
        left: 0.05rem;
    }

    .clickable.paper {
        bottom: 2rem;
        left: 2rem;
    }

    .clickable.scissors {
        bottom: 3rem;
    }

    .clickable.lizard {
        top: 2rem;
        left: 0;
    }

    .clickable.spock {
        bottom: 2rem;
        right: 2rem;
    }
}

@media (max-width: 374px) {
    main[displaybg='true'] {
        background-size: 60%;
    }

    .gamechoice {
        position: static !important;
    }
}
