@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
    --grad-scissors: linear-gradient(45deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --grad-paper: linear-gradient(45deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --grad-rock: linear-gradient(45deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --grad-lizard: linear-gradient(45deg, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --grad-cyan: linear-gradient(45deg, hsl(189, 59%, 53%), hsl(189, 58%, 57%));

    --grad-radial: radial-gradient(ellipse at top, hsl(214, 47%, 23%), transparent), radial-gradient(ellipse at bottom, hsl(237, 49%, 15%), transparent);

    --text-dark: hsl(229, 25%, 31%);
    --text-score: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
    --ff: 'Barlow Semi Condensed', sans-serif;
    --fw-semibold: 600;
    --fw-bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

.overlay.active {
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#root {
    font-family: var(--ff);
    height: 100vh;
    display: grid;
    background-color: rgb(31, 55, 86);
    color: white;
}

.rock {
    background-image: url('images/icon-rock.svg');
    border-color: hsl(349, 70%, 56%);
}
.paper {
    background-image: url('images/icon-paper.svg');
    border-color: hsl(230, 89%, 65%);
}
.scissors {
    background-image: url('images/icon-scissors.svg');
    border-color: hsl(40, 84%, 53%);
}
.lizard {
    background-image: url('images/icon-lizard.svg');
    border-color: hsl(261, 72%, 63%);
}
.spock {
    background-image: url('images/icon-spock.svg');
    border-color: hsl(189, 58%, 57%);
}

.gamechoice {
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4rem;
    border-style: solid;
    border-radius: 100px;
    border-width: 15px;
    box-shadow: inset 0 0.5rem rgba(170, 189, 212, 0.5);
    background-color: white;
    justify-self: center;
    align-self: center;
}

.choices {
    background-image: url('images/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 3rem;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.animation-fade-in {
    animation: fade-in 3s linear;
}
