@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
    --grad-scissors: linear-gradient(45deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --grad-paper: linear-gradient(45deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --grad-rock: linear-gradient(45deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --grad-lizard: linear-gradient(45deg, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --grad-cyan: linear-gradient(45deg, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    --grad-radial: radial-gradient(ellipse at top, hsl(214, 47%, 23%), transparent), radial-gradient(ellipse at bottom, hsl(237, 49%, 15%), transparent);
    --text-dark: hsl(229, 25%, 31%);
    --text-score: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

#root {
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100vh;
    display: grid;
    background-color: rgb(31, 55, 86);
    color: white;
}

.overlay.active {
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.result {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
    grid-template-areas:
        'player house'
        'rep rep';
}

.result[hidden] {
    display: none;
}

.playerpick {
    display: grid;
    grid-area: player;
}

.housepick {
    display: grid;
    grid-area: house;
}

.repeat {
    display: grid;
    grid-area: rep;
}

.playerpick > div:first-child,
.housepick > div:first-child {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    justify-self: center;
}

.playerpick > *,
.housepick > * {
    place-self: center;
}

.repeat > div:first-child {
    text-transform: uppercase;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 1.25rem;
}

.repeat > div:last-child {
    display: grid;
    place-content: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-radius: 0.375rem;
    padding: 1.25rem 3rem;
    height: 2.5rem;
    background-color: white;
    color: var(--text-dark);
}

.repeat > div:last-child:hover {
    color: rgb(239, 68, 68);
}

.repeat > * {
    place-self: center;
}

@media (min-width: 768px) {
    .result {
        grid-template-rows: repeat(1, minmax(0, 1fr));
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas: 'player rep house';
    }
}
